@import 'compass';

html{
  min-height: 100%;
  -webkit-font-smoothing:antialiased!important;
}
header, #header{
  background-color: #f1c40f;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 20px 0;
  text-align: center;
  @include text-shadow(0 0 3px gray);
}
footer, #footer{
  background-color: #d35400;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 20px 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
body{
  background: #ECF0F1;
  color: #4d4d4d;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a{
  color: #4d4d4d;
}

.wrapper{
  width: 1000px;
  margin: 40px auto;
  background-color: white;
  font-size: 0;
  @include border-radius(5px);
  @include box-shadow(0 0 3px gray);
}
.bold{font-weight: bold}
.light{font-weight: lighter}

.area_name{
  background: #34495e;
  text-align: center;
  padding: 20px 0;

  .top_name{
    color: white;
    font-size: 36px;
    font-weight: bold;
    margin: 5px 0;
  }

  .profesion{
    font-size: 24px;
    color: white;
    font-weight: normal;
    margin: 10px 0;
  }
}

.column{
  padding: 30px 20px;
  min-height: 400px;
  font-size: 16px;
  font-weight: lighter;
  @include box-sizing(border-box);

  &.left{width: 30%; text-align: right}
  &.right{width: 70%;}
  @include inline-block(top);
}

.title_left{
  font-weight: bold;
  margin: 10px 0;
  text-transform: uppercase;
  color: #4d4d4d;
  font-size: 20px;
}

.title_right{
  font-weight: bold;
  margin: 5px 0;
  text-transform: uppercase;
  color: #4d4d4d;
  font-size: 24px;
  .blue{color: #3498db;}
  .orange{color: #e67e22;}
  .wisteria{color: #8e44ad;}
}


.box_activity{
  font-size: 0;
  margin: 25px 0;

  .date, .content_description{
    @include inline-block(top);
    @include box-sizing(border-box);
  }
  .date{
    width: 17%;
    font-size: 16px;
  }
  .content_description{
    width: 83%;
    font-size: 16px;
    padding: 0 10px;
    .text{
      padding: 5px 0;
    }
    &.particular{
      padding: 0;
    }
  }
}

.item_left{
  font-size: 0;
  padding: 5px 0;
  font-size: 16px;
  @include inline-block;
  &:before{
    width: 20px;
    height: 15px;
    content: '';
    @include inline-block(top);
  }
  &.progamming{
    line-height: 1.5;
  }
  &.wallet:before{background: asset-url('icon/wallet.png',image) no-repeat;}
  &.home:before{background: asset-url('icon/home.png',image) no-repeat;}
  &.birthday:before{background: asset-url('icon/birthday.png',image) no-repeat;}
  &.sex:before{background: asset-url('icon/sex.png',image) no-repeat;}
  &.phone:before{background: asset-url('icon/phone.png',image) no-repeat;}
  &.email:before{background: asset-url('icon/email.png',image) no-repeat;}
  &.twitter:before{background: asset-url('icon/twitter.png',image) no-repeat;}
  &.github:before{background: asset-url('icon/github.png',image) no-repeat;}
}


